@import "tailwindcss";

:root {
  --background: rgb(126, 126, 128);
  --foreground: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --foreground: rgb(127, 127, 127);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
